@import 'Colors';

.fixture-list {
  list-style-type: none;
}

.fixture.callout.panel {
  background-color: $gold;
  border: 2px solid black;
}

.fixture-header {
  display: block;
  text-align: center;
  justify-content: center;
}

.top-button {
  float: left;
}

.hidden {
  visibility: hidden;
  display: none;
}

.visible {
  visibility: visible;
}

.search {
  width: 70%;
  margin: auto;
}

button a,
button a:focus {
  color: black;
}
button:hover,
button a:hover {
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
}

.top-button,
.top-button:focus {
  width: 12rem;
  background-color: $gold;
  color: black;
  border: 2px solid black;
}

.top-button:hover {
  background-color: $dark-gold;
  color: white;
}

.form {
  margin: auto;
  width: 80%;
}
.form label {
  color: $light-grey;
}

.search input[type="text"],
.form input[type="text"],
.form input[type="tel"],
.form input[type="number"] {
  font-size: 16px;
}

.delete-mode {
  padding-top: 25px;
  color: darkred;
}

.delete-mode:hover,
.delete-mode:focus {
  color: red;
}

.new-fixture-button {
  text-align: center;
}

.new-fixture-button button,
.new-fixture-button button:focus {
  background-color: $gold;
  color: black;
  border-radius: 7px;
  width: 20rem;
}

.new-fixture-button button:hover {
  background-color: $dark-gold;
  color: white;
}

.success,
.error {
  text-align: center;
}

.favorite {
  color: $dark-red;
  padding-right: .5rem;
}

.not-favorite {
  color: $dark-gold;
  padding-right: .5rem;
}

.fixture-edit {
  color: $dark-gold;
  float: right;
  padding-right: .7rem;
}

.fixture-delete {
  color: $dark-red;
  float: right;
}
