@import 'Colors';

.soon {
  width: 20rem;
  margin: auto;
  text-align: center;
}

h1, h2, h3 {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  color: $light-grey;
}

body {
  background-color: $dark-grey;
  color: $light-grey;
  font-family: Verdana, sans-serif;
}

a {
  color: $blue-grey;
}

a:hover {
  color: $darkblue-grey;
}

hr {
  border: 2px solid $gold;
}

.add-right {
  float: right;
}

.add-button {
  color: $darkblue-grey;
}

.back-button {
  padding-left: 5%;
}
