@import 'Colors';

.fixture-menu {
  font-size: 16px;
}

.ReactTable .rt-thead .rt-th.-sort-asc {
  box-shadow: inset 0 3px 0 0 $gold;
}

.ReactTable .rt-thead .rt-th.-sort-desc {
  box-shadow: inset 0 -3px 0 0 $gold;
}

.button-center {
  display: block;
  margin: auto;
  justify-content: center;
  float: none;
  margin-bottom: 2rem;
}

.cell-right {
  text-align: right;
}

.cell-left {
  text-align: left;
}

.rt-th {
  background-color: inherit;
}

.alertify .ajs-dialog,
.alertify .ajs-header,
.alertify .ajs-footer,
.alertify .ajs-content {
  background-color: $gold;
  border: none;
  color: black;
  font-family: inherit;
}

.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok {
  color: $dark-red;
}

.table-header {
  padding-left: 1.5rem;
}

.x-delete:hover {
  color: $dark-red;
}

.top-links {
  display: inline-flex;
  list-style-type: none;
}

.top-links li {
  padding-right: 1rem;
}

.top-links-title {
  text-align: right;
  padding-left: 2rem;
}

.show-page {
  background-color: $dark-grey;
}

.edit-show {
  font-size: 30px;
  padding-left: 15px;
  color: $blue-grey;
  &:hover {
    color: $darkblue-grey;
  }
}

.ant-modal-body {
  background-color: $dark-grey;
}

.ant-modal-close-x {
  color: $gold;
}
